<!DOCTYPE html>
<html>

<head>

    <head>
        <meta charset="utf-8"/>
        <!--修复ios qq浏览器 数字显示-->
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="x-rim-auto-match" content="none">
        <meta name="viewport"
              content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
        <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_856748_lgsst0sg15e.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
        <title>名医列表</title>
    </head>
</head>

<body>
<div class="warp-bg new-bgc plr30">
    <ul class="new-doc-list">
        {% for doctor in doctors %}
            <a href="{{ reverse('doctor_info', kwargs={'doctor_id': doctor.id}) }}">
                <li class="new-doc-lis-item mzub mt30">
                    <div class="new-doc-lis-img mr20">
                        <img src="/media/{{ doctor.image }}" alt=""/>
                    </div>
                    <div class="mzub-f1 por">
                        <div class="mb10"><span class="fz24 c-5a6174 mr20">{{ doctor.name }}</span><span
                                class="fz22 c99">{{ doctor.professor }}</span></div>
                        <p class="fz22 c99 mzub-te2">擅长：{{ doctor.expert }}</p>
                        <div class="poa-b0">
                            <span class="new-doc-tag mr10">医生资格 </span>
                            <span class="new-doc-tag mr10">医生执业</span>
                        </div>
                    </div>
                </li>
            </a>
        {% endfor %}

    </ul>
</div>
</body>

</html>