<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <!--修复ios qq浏览器 数字显示-->
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="x-rim-auto-match" content="none">
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_856748_lgsst0sg15e.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css"/>

    {#    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>#}
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <title></title>
</head>

<body>
<div class="warp bg-fff6cf">
    <div class="data-title mzub mzub-ac ptb10 bb plr30">
        <p class="fz24 c33 mzub-f1">{{ str_date }}</p>
        <div class="mzub mzub-pac fz20 scheduling-box">
            <p class="scheduling-tab active mzub-f1 plr10 tx-c plr10 ptb10">日期排班</p>
            <p class="scheduling-tab mzub-f1 all-doc plr10 tx-c plr10 ptb10">全部医生</p>
        </div>
    </div>
    <div class="scheduling-container">
        <div class="week-day-box active bb ptb10">
            <ul class="mzub mzub-pac" id="ul_doc">
                {% for date_i in dates %}
                    <li class="sch_date mzub-f1 tx-c fz22 c-999893">
                        <p class="week-day mb10">{{ date_i.week }}</p>
                        <p class="week-data mzub mzub-pac ">{{ date_i.day }}</p>
                    </li>
                {% endfor %}

            </ul>
        </div>
        <div class="doc-list">
            <ul>
                <li onclick="goDoc()" class="mzub mzub-ac ptb10 bb plr30" id="doctor0">
                    <div class="doc-img mr20">
                        <img src="" alt=""/>
                    </div>
                    <div class="mzub-f1 fz22">
                        <p class="mb10 c66"></p>
                        <p class="c-999893">医生</p>
                    </div>
                    <div class="residue-num mzub mzub-pac cff fz18 mr10"></div>
                    <i class="iconfont icon-next fz24 c33"></i>
                </li>
                <li onclick="goDoc()" class="mzub mzub-ac ptb10 bb plr30" id="doctor1">
                    <div class="doc-img mr20">
                        <img src="" alt=""/>
                    </div>
                    <div class="mzub-f1 fz22">
                        <p class="mb10 c66"></p>
                        <p class="c-999893">医生</p>
                    </div>
                    <div class="residue-num mzub mzub-pac cff fz18 mr10"></div>
                    <i class="iconfont icon-next fz24 c33"></i>
                </li>
                <li onclick="goDoc()" class="mzub mzub-ac ptb10 bb plr30" id="doctor2">
                    <div class="doc-img mr20">
                        <img src="" alt=""/>
                    </div>
                    <div class="mzub-f1 fz22">
                        <p class="mb10 c66"></p>
                        <p class="c-999893">医生</p>
                    </div>
                    <div class="residue-num mzub mzub-pac cff fz18 mr10"></div>
                    <i class="iconfont icon-next fz24 c33"></i>
                </li>
                <li onclick="goDoc()" class="mzub mzub-ac ptb10 bb plr30" id="doctor3">
                    <div class="doc-img mr20">
                        <img src="" alt=""/>
                    </div>
                    <div class="mzub-f1 fz22">
                        <p class="mb10 c66"></p>
                        <p class="c-999893">医生</p>
                    </div>
                    <div class="residue-num mzub mzub-pac cff fz18 mr10"></div>
                    <i class="iconfont icon-next fz24 c33"></i>
                </li>
                <li onclick="goDoc()" class="mzub mzub-ac ptb10 bb plr30" id="doctor4">
                    <div class="doc-img mr20">
                        <img src="" alt=""/>
                    </div>
                    <div class="mzub-f1 fz22">
                        <p class="mb10 c66"></p>
                        <p class="c-999893">医生</p>
                    </div>
                    <div class="residue-num mzub mzub-pac cff fz18 mr10">剩</div>
                    <i class="iconfont icon-next fz24 c33"></i>
                </li>

            </ul>
        </div>
    </div>
    {#    <p class="tx-c c-504d3e fz24">暂无数据~~~</p>#}
</div>
</body>


<script type="text/javascript">

    $("#ul_doc").children("li:first").children(".week-data").addClass('active')
    $("#doctor0").hide()
    $("#doctor1").hide()
    $("#doctor2").hide()
    $("#doctor3").hide()
    $("#doctor4").hide()

    {% for sch in schedules %}
        $("#doctor" + String({{ loop.index }})).show();
        $("#doctor" + String({{ loop.index }})).children(".mzub-f1").children(".mb10").text("{{ sch.doctor.name }}");
        $("#doctor" + String({{ loop.index }})).children(".residue-num").text("剩" + String({{ sch.leave_num }}) + "号");
        $("#doctor" + String({{ loop.index }})).children(".doc-img").children("img").attr("src", "/media/" + "{{ sch.doctor.image }}");
    {% endfor %}




    $('.scheduling-tab').click(function () {
        var index = $(this).index();
        if (index == 0) {
            $('.week-day-box').addClass('active')
        } else {
            $('.week-day-box').removeClass('active')
        }
        $(this).addClass('active').siblings().removeClass('active')
    })
    function goDoc() {
        alert('ttt')
    }
    ;

    $('.sch_date').click(function () {

        //隐藏元素
        $("#doctor0").hide()
        $("#doctor1").hide()
        $("#doctor2").hide()
        $("#doctor3").hide()
        $("#doctor4").hide()

        $(".week-data").removeClass('active')

        week_day = $(this).children('.week-data')
        week_day.addClass('active')

        var day = week_day.text();


        $.ajax({
            type: "POST",
            data: {'day': day, 'section': {{ section }}},
            url: "{{ reverse('ajax_doctor')}}", //后台处理函数的url 这里用的是static url 需要与urls.py中的name一致,或者直接写http地址
            cache: false,
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            },
            success: function (ret) {

                var name = ret[0].name

                $("#doctor0").show()
                for (var i = 0; i < ret.length; i++) {
                    $("#doctor" + String(i)).show();
                    $("#doctor" + String(i)).children(".mzub-f1").children(".mb10").text(ret[i].name);
                    $("#doctor" + String(i)).children(".residue-num").text("剩" + String(ret[i].leave_num) + "号");
                    $("#doctor" + String(i)).children(".doc-img").children("img").attr("src", "/media/" + ret[i].img_url);
                }

            },
            error: function () {
                alert("false");
            }

        })
    })


    {#    function getDoctor() {#}
    {##}
    {#         var day1 = $(this).children('ul').length;#}
    {##}
    {#        //var day = $(this).children(".week-data").html()#}
    {##}
    {#        alert(day1)#}
    {##}
    {#        //隐藏元素#}
    {#        $("#doctor0").hide()#}
    {#        //删除元素#}
    {#        for (var j = 1; j < doctor_num; j++)#}
    {#            $("#" + "doctor" + String(j)).remove();#}
    {##}
    {##}
    {##}
    {#        $.ajax({#}
    {#            type: "POST",#}
    {#            data: {'date': day1},#}
    {#            url: "{{ reverse('ajax_doctor')}}", //后台处理函数的url 这里用的是static url 需要与urls.py中的name一致,或者直接写http地址#}
    {#            cache: false,#}
    {#            beforeSend: function (xhr, settings) {#}
    {#                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");#}
    {#            },#}
    {#            success: function (ret) {#}
    {##}
    {#            },#}
    {#            error: function () {#}
    {#                alert("false");#}
    {#            }#}
    {#        });#}
    {##}
    {##}
    {#        $("#doctor0").show()#}
    {#        for (var i = 1; i < 3; i++) {#}
    {#            var addItem = $('#doctor0').clone(true).attr('id', 'doctor' + String(i));#}
    {#            $('#doctor' + String(i - 1)).after(addItem);#}
    {#        }#}
    {#        doctor_num = i;#}
    {##}
    {##}
    {#                            window.location.href = "{{ reverse('register_detail', kwargs={'schedule_id': sch.id}) }}"#}
    {#    }#}
    {#    ;#}
</script>

</html>